[Desktop Entry]
Name=Linux Custom Resolution
Comment=Custom display resolutions made easy
Comment[pt]=Resoluções personalizadas de forma rápida e gráfica
Comment[pt_BR]=Resoluções personalizadas de forma rápida e gráfica
Exec=lcr
Icon=com.linuxcustomresolution.LCR
Terminal=false
Type=Application
Categories=Settings;Utility;
Keywords=resolution;display;monitor;xrandr;custom;
